<div class="notice"><%= flash[:notice] %></div>
<div class="show">
  <p><b>Title:</b>&nbsp;&nbsp;<%= @book.title %></p>
  <p><b>Body:</b>&nbsp;<%= @book.body %></p>
</div>
<div class="pager">
  <%= link_to "Edit",edit_book_path(@book.id) ,class:"table-button" %>|
  <%= link_to "Back",books_path ,class:"table-button" %>
</div>